In [1]:
#loop contal statements: break ,continue:
for i in range(1,11):
    if i%5==0:
        break
    else:
        print(i)

1
2
3
4

In [2]:
for i in range(1,11):
    if i%5==0:
        continue
    else:
        print(i)

1
2
3
4
6
7
8
9

In [3]:
#write a program to validate username and password given by the user.
#If the user gives wrong credentials it should ask for username and password again again until the user gives correct details

In [4]:
username="python"
password="abc123"

In [6]:
while True :
    user = input("enter username")
    if user == "python":
        pwd =input("enter password")
        if pwd == "abc123":
             print("login success!!!!")
                
            break
    else:
        continue

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 8)

In [ ]:
# pass -->for creating empty block

# functions
## blocks of statements

predefined(which are already)
len(),print(),input(),min()
user defined(custom function)
```def function_name(parameter list): statements return

In [7]:
def name(username):
    print("hello",username)
    
name("patel")#function calling

hello patel

In [8]:
def addition(a,b):
    return a+b,a-b

print(addition(7,5))
print(addition(7,6))

(12, 2)
(13, 1)

In [9]:
def addition(a,b):
    return a+b,a-b,a*b,a/b #tuple ()

add,sub,mul,div= addition(8,4)
print(sub,mul)

4 32

# different types of arguments
required positional arguments

In [13]:

#default arguments
#default arhuments are at theend od argument list
def add (a,b=100):
    return (a+b)
add(100)
add(200,200)

400

In [12]:
#keyword argument
def add(a,b):
    print("a value:",a)
    print("b value :",b)
    return (a+b)
add(b=10,a=20)

a value: 20
b value : 10

30

In [14]:
# variale length arguments
def add(*a):
    return sum(a)
print(add(10,20))
print(add(10,20,30))
print(add(10,20,30,40))

30
60
100

In [15]:

def add(*a):
    m=1
    for i in a:
        m=m*i
    return m
print(add(10,20))
print(add(10,20,30))
print(add(10,20,30,40))

200
6000
240000

In [19]:
#nested functions: square,cube
def sqr(a):
    return a*a
def cube(x):
    return sqr(x)*x
    
print(sqr(10))
print(cube(10))

100
1000

In [ ]:
#finding factorial using recurssive function:1.factorial &&  fibonacci
def fac(n):
    return n
def fac

# data structures:
# . list:
# . [] elements sepated by,
# . induxed
# . ordered
# . duplicate values
# . mutable
# . anytype of values

In [21]:
list1=[12,23.4,True,"patel"]

In [22]:
list1[0]

12

In [23]:
list1[-1]

'patel'

In [25]:
#operators supported by list : +,*,[],[:],in,notin
list1 = [1,2,3]
list2 = [4,5,6]
print(list1+list2)#concatination
print(list1*3)
print(list1[2])
print(list1[1:3])
print(2 in list1)
print(200 not in list1)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3, 1, 2, 3]
3
[2, 3]
True
True

In [26]:
#Built-in functions: len(),min(),max(),list()

In [27]:
print(len(list1),min(list1),max(list1))

3 1 3